.card {
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;
	/* max-width: 217px; */
}

.card[data-isfavorite='true'] button {
	background: var(--secondary-color);
	border-color: var(--off-white);
}

.contentSection {
	padding-right: 18px;
}

.contentSection li label {
	font-weight: 600;
}

.contentSection li:not(:first-child) label {
	display: block;
}

.contentSection h2 {
	font-size: 18px;
	font-weight: 700;
	line-height: calc(22 / 18);
}

.imgCont {
	position: relative;
	margin-bottom: 20px;
	aspect-ratio: 310 / 475;
}

.saveFavButton {
	display: grid;
	place-items: center;
	position: absolute;
	bottom: -15px;
	left: 50%;
	transform: translateX(-50%);
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: none;
	background-color: var(--dark-background);
	color: #fff;
	font-size: 1rem;
	border: 2px solid var(--dark-background);
	transition: border-color var(--ease-out), background-color var(--ease-out);
}

@media (hover: hover) {
	.saveFavButton:hover {
		border-color: var(--off-white);
		background: var(--secondary-color);
	}
}

.button svg {
	pointer-events: none;
}

.imageCover {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.favListPanel {
	background-color: var(--primary-color);
	align-self: self-start;
	color: var(--off-white);
	padding: 30px;
}

.favListHeading {
	font-size: 25px;
	letter-spacing: 0.25px;
	margin-bottom: 36px;
	font-weight: 900;
}

.favCard {
	position: relative;
	display: flex;
	justify-content: flex-end;
	flex-direction: row-reverse;
	gap: 10px;
}

.favCard + div {
	margin-top: 26px;
}

.favContentSection * {
	font-family: inherit;
}
.favContentSection h4 {
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 6px;
}

.favContentSection p {
	font-size: 14px;
	font-weight: 400;
}

.favImgCont {
	aspect-ratio: 50 / 75;
	position: relative;
	width: 100%;
	max-width: 50px;
}

.close {
	color: var(--secondary-color);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	background: hsl(0deg 0% 100% / 80%);
	width: 12px;
	height: 12px;
	font-size: 8px;
	border-radius: 50%;
	display: grid;
	place-items: center;
}
