.grid {
	grid-template-columns: repeat(auto-fit, minmax(182px, 1fr));
	justify-content: flex-start;
	grid-gap: 60px 20px;
	margin-bottom: 10px;
	position: relative;
}
.card {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 11px;
	margin-bottom: 10px;
}

@media (min-width: 40em) {
	.grid {
		display: grid;
		margin-bottom: 80px;
	}
	.card {
		flex-direction: column-reverse;
		justify-content: flex-end;
		margin-bottom: 0px;
	}
}
.card[data-isfavorite='true'] button {
	background: var(--secondary-color);
	border-color: var(--off-white);
}

.card[data-isfavorite='false'] button[data-disabled='true'] {
	pointer-events: none;
	background-color: #777777;
	border-color: #777777;
}

.contentSection {
	padding-right: 18px;
}

.contentSection li label {
	font-weight: 600;
}

.contentSection li:not(:first-child) label {
	display: block;
	margin-bottom: 1px;
}

.contentSection h2 {
	font-size: 18px;
	font-weight: 700;
	line-height: calc(22 / 18);
	margin-bottom: 10px;
}

.imgCont {
	position: relative;
	margin-bottom: 20px;
	aspect-ratio: 310 / 475;
	width: 125px;
	min-width: 125px;
}
@media (min-width: 40em) {
	.imgCont {
		width: unset;
	}
}
.saveFavButton {
	display: grid;
	place-items: center;
	position: absolute;
	bottom: -15px;
	left: 50%;
	transform: translateX(-50%);
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: none;
	background-color: var(--dark-background);
	color: #fff;
	font-size: 1rem;
	border: 2px solid var(--dark-background);
	transition: border-color var(--ease-out), background-color var(--ease-out);
	cursor: pointer;
}
@media (max-width: 639px) {
	.saveFavButton {
		left: 0;
		bottom: 46%;
		transform: translatex(-50%);
	}
}

@media (hover: hover) {
	.saveFavButton:hover {
		border-color: var(--off-white);
		background: var(--secondary-color);
	}
}

.button svg {
	pointer-events: none;
}

.imageCover {
	box-shadow: 0px 5px 9px 0px #00000017;
}

.details {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
}

/* Favs */

.favListPanel {
	align-self: self-start;
	color: var(--off-white);
	position: absolute;
	right: 20px;
	top: 0;
	z-index: 1;
	pointer-events: none;
}

@media (min-width: 64em) {
	.favListPanel {
		right: 0;
	}
}

.favListPanel:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 58px;
	width: 100%;
	background-color: var(--dark-background);
}

.favListPanel > button {
	position: relative;
	z-index: 1;
	color: #fff;
	display: flex;
	font-size: 14px;
	font-family: var(--font-display);
	font-weight: 600;
	margin-block: 20px;
	text-align: right;
	margin-left: auto;
	padding-inline: 8px;
	gap: 2px;
	align-items: center;
	pointer-events: all;
}
.favListPanel > div {
	position: relative;
	z-index: -1;
	background-color: var(--primary-color);
	padding: 30px;
	transform: translatey(calc(-100% - 40px));
	transition: transform var(--ease-out);
	pointer-events: all;
}
.favListPanel > div[data-show='favorite'] {
	transform: translatey(0%);
	/* padding-bottom: 0; */
}

.closeFavList {
	color: #fff;
	position: absolute;
	bottom: -40px;
	font-size: 14px;
	left: 0;
	width: 100%;
	background: var(--secondary-color);
	font-family: var(--font-display);
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
	padding-block: 11px;
}

@media (min-width: 64em) {
	.closeFavList {
		display: none;
	}
	.favListPanel > button {
		display: none;
	}
	.favListPanel {
		position: relative;
	}
	.favListPanel:after {
		display: none;
	}
	.favListPanel > div[data-show='false'] {
		transform: translatey(0%);
		transition: none;
	}
	.favListPanel > div {
		transform: none;
	}
}
@media (min-width: 1020px) and (max-width: 1024px) {
	.favListPanel > div[data-show='false'] {
		transition: none;
	}
}

.favListHeading {
	font-size: 25px;
	letter-spacing: 0.25px;
	margin-bottom: 36px;
	font-weight: 900;
}

.favCard {
	position: relative;
	display: flex;
	justify-content: flex-end;
	flex-direction: row-reverse;
	gap: 10px;
	max-width: 210px;
}

.favCard + div {
	margin-top: 26px;
}

.favContentSection * {
	font-family: inherit;
}

.favContentSection h4 {
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 6px;
}

.favContentSection p {
	font-size: 14px;
	font-weight: 400;
}

.favImgCont {
	aspect-ratio: 50 / 75;
	position: relative;
	width: 100%;
	max-width: 50px;
}

.favImgCont img {
	object-fit: cover;
}

.close {
	color: var(--secondary-color);
	position: absolute;
	z-index: 1;
	background: hsl(0deg 0% 100% / 80%);
	border-radius: 50%;
	display: grid;
	place-items: center;
	width: 35px;
	height: 35px;
	font-size: 15px;
	left: -16px;
	top: -15px;
}

.close:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 83px;
	width: 57px;
}

@media (min-width: 64em) {
	.close {
		left: -6px;
		top: -6px;
		width: 12px;
		height: 12px;
		font-size: 8px;
	}
}

/* Pager */
.pager {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	font-size: 18px;
	margin-bottom: 60px;
}

@media (min-width: 64em) {
	.pager {
		margin-bottom: 80px;
	}
}

.pager button {
	height: 35px;
	width: 35px;
	background-color: var(--dark-background);
	color: var(--off-white);
	border-radius: 50%;
	display: inline-grid;
	place-items: center;
	font-size: 18px;
}
