.card {
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;
}

.imgCont {
	position: relative;
	margin-bottom: 20px;
	aspect-ratio: 310 / 475;
}

.button {
	display: grid;
	place-items: center;
	position: absolute;
	bottom: -15px;
	left: 50%;
	transform: translateX(-50%);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: none;
	background-color: var(--body-text);
	color: #fff;
}

.imageCover {
	object-fit: cover;
}